body {
    background-size: 70px;
    background-repeat: repeat;
}

h3 {
    margin: 0 !important;
}

table {
    background: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    border: 2px solid rgb(226, 11, 101);
    width: 80%;
    margin: auto;
}

td {
    /* padding: 10px; */
    border: 2px solid rgb(226, 11, 101);

}
